@import "./scss/_mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include responsive(largephone) {
    font-size: 58%;
  }
}

body {
  font-family: "lato", sans-serif;
  color: #aaa;
  line-height: 1.6;
  font-weight: 300;
  background-color: #639;
}
